<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrusel</title>
    <link rel="stylesheet" href="homepage.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

  <!-- Carrusel -->
    <br><br><br>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active d-item">
            <img src="assets/img/sitioutl1.jpg" class="d-block w-100 d-img" alt="slider 1">
            <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Admisiones Ingenierías</p>
                <!-- <div class="cinta"></div> -->
                <div class="cinta2"><h1 class="display-1 fw-bolder text-capitalize" style="color: #fff;">UTL</h1></div>
                <!-- <div class="cinta"></div> -->
                <button class="btn btn-dark px-4 py-2 fs-5 mt-5 but">Inscribete</button>
            </div>
          </div>
          <div class="carousel-item active d-item">
            <img src="assets/img/sitioutl2.jpg" class="d-block w-100 d-img" alt="slider 2">
            <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Innovación</p>
                <!-- <div class="cinta">
                  <h1 class="display-1 fw-bolder text-capitalize">Universidad Tecnológica de León</h1>
                </div> -->
                <div class="cinta2"><h1 class="display-1 fw-bolder text-capitalize"style="color: #fff;">Universidad Tecnológica de León</h1></div>
                <button class="btn btn-dark px-4 py-2 fs-5 mt-5 but">Informacion</button>
            </div>
          </div>
          <div class="carousel-item active d-item">
            <img src="assets/img/sitioutl3.jpg" class="d-block w-100 d-img" alt="slider 3">
            <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Desarrollo Sustentable</p>
                <div class="cinta2">
                  <h1 class="display-1 fw-bolder text-capitalize" style="color: #fff;">UTL</h1>
                </div>
                <button class="btn px-4 py-2 fs-5 mt-5 but" style="background-color: #003082; color: #fff;">Informacion</button>
            </div>
          </div>
        </div>
        <br>
        <br>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span aria-hidden="true"></span>
          <img class="boton" src="assets/img/botton_izq.png" alt="">
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span aria-hidden="true"></span>
          <img class="boton" src="assets/img/botton_der.png" alt="">
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Columnas para las tarjetas  -->
      <div class="container-fluid cartas">
        <div class="row">
          <div class="col verde" >
            <br><br>
            <img class="cajita" src="assets/img/botton_der.png" alt="">
            <h4>SOMOS</h4>
            <h6>La Universidad Tecnológica de León</h6>
          </div>
          <div class="col azul" >
            <br><br>
            <img class="cajita" src="assets/img/botton_der.png" alt="">
            <h4>SOMOS</h4>
            <h6>La Universidad Tecnológica de León</h6>
          </div>
          <div class="col verde" >
            <br><br>
            <img class="cajita" src="assets/img/botton_der.png" alt="">
            <h4>SOMOS</h4>
            <h6>La Universidad Tecnológica de León</h6>
          </div>
        </div>
        <div class="row">
          <div class="col azul">
            <br><br>
            <img class="cajita" src="assets/img/botton_der.png" alt="">
            <h4>SOMOS</h4>
            <h6>La Universidad Tecnológica de León</h6>
          </div>
          <div class="col verde">
            <br><br>
            <img class="cajita" src="assets/img/botton_der.png" alt="">
            <h4>SOMOS</h4>
            <h6>La Universidad Tecnológica de León</h6>
          </div>
          <div class="col azul">
            <br><br>
            <img class="cajita" src="assets/img/botton_der.png" alt="">
            <h4>SOMOS</h4>
            <h6>La Universidad Tecnológica de León</h6>
          </div>
        </div>
        <div class="row">
          <div class="col verde">
            <br><br>
            <img class="cajita" src="assets/img/botton_der.png" alt="">
            <h4>SOMOS</h4>
            <h6>La Universidad Tecnológica de León</h6>
          </div>
          <div class="col azul">
            <br><br>
            <img class="cajita" src="assets/img/botton_der.png" alt="">
            <h4>SOMOS</h4>
            <h6>La Universidad Tecnológica de León</h6>
          </div>
          <div class="col verde">
            <br><br>
            <img class="cajita" src="assets/img/botton_der.png" alt="">
            <h4>SOMOS</h4>
            <h6>La Universidad Tecnológica de León</h6>
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>